#general {
    display: flex;
	align-items: center;
	justify-content: center;
	height: max-content;

}

#salida {
    display: none;
	align-items: center;
	justify-content: center;
	height: max-content;
    border: 5px solid #0275d8;
    border-radius: 15px;

}

#formulario {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    border: 5px solid #0275d8;
    border-radius: 15px;
}